<mat-card *ngIf="assignmentTransmis">
  <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
  <p>écrit par {{assignmentTransmis.auteur}}</p>
  <mat-card-subtitle>{{assignmentTransmis.dateDeRendu| date}}</mat-card-subtitle>
  <span *ngIf="assignmentTransmis.note != null"> Note : {{assignmentTransmis.note}}/20<br></span>
  <span *ngIf="assignmentTransmis.remarques != null">Remarques : {{assignmentTransmis.remarques}}</span>
  <br>
  <br>
  <div>
    Matière : {{assignmentTransmis.matiere.nom}}
    <br>
    <br>
    <img class="logo" src={{assignmentTransmis.matiere.imagematiere}}>
    <img class="logo" src={{assignmentTransmis.matiere.prof}}>
  </div><br>
  <div class="bottom">
    <mat-checkbox *ngIf="!assignmentTransmis.rendu && assignmentTransmis.note" (click)="onAssignmentRendu()">
      Rendu
    </mat-checkbox>

    <nav>
      <!-- la route "relative" marche aussi car on est déjà dans /assignment/id
            Le fait de naviguer vers ['edit'] rajoute edit à la fin -->
      <!--<a [routerLink]="['edit']"> -->

        <!-- ici exemple avec route absolue (commence par /) -->
        <!--
          <a [routerLink]="['/assignment', assignmentTransmis.id, 'edit']">
          -->

        <button [disabled]="!isAdmin()" mat-stroked-button color="primary" (click)="onClickEdit()">
          EDIT
        </button>
        <!--
      </a>
    -->
    </nav>

    <button mat-raised-button color="accent" (click)="onDeleteAssignment()">
      DELETE
    </button>
  </div>
</mat-card>
