.form {
  display:flex;
  flex-direction: column;
  margin:5px;
}
.matiere{
  align-self:center;
}
.alert {
  padding: 20px;
  color: red;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
