<div class="container" *ngIf="assignment">
  <h2>Edition de l'assignment {{assignment.nom}}</h2>
  <form ngForm class="form">
    <mat-form-field>
      <input matInput placeholder="Edition du nom"
      [(ngModel)]="nomAssignment" name="assignment-name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker"
             placeholder="Edition de la date"
             [(ngModel)]="dateDeRendu" name="date">
      <mat-datepicker-toggle matSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Edition de la note" [(ngModel)]="noteAssignment" (keyup)="note()" name="assignment-note">
    </mat-form-field>
    <div class="alert" *ngIf="notealert">
      <span class="closebtn"  onclick="this.parentElement.style.display='none';notealert =false;">&times;</span>
      La note doit être comprise entre 0 et 20.
    </div>
    <mat-form-field>
      <input matInput placeholder="Edition de l'auteur"
             [(ngModel)]="auteurAssignment" name="assignment-auteur">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Edition des remarques"
             [(ngModel)]="remarquesAssignment" name="assignment-remarques">
    </mat-form-field>
    <div class="matiere">
      <p>Matière : <select [(ngModel)]="matiereAssignment" name="assignment-matiere">
        <option value='Base de données'>Base de données</option>
        <option value='Technologies Web'>Technologies Web</option>
        <option value='Grails'>Grails</option>
      </select>
      </p>
    </div>
    <br>
    <button mat-raised-button color="primary"
           (click)="onSaveAssignment()">
      Sauver
    </button>
  </form>
</div>
